#heading-container {
  text-align: center;
  width: 100vw;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#heading-content-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

#heading-content-container > button {
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

#heading-content-container > button:hover {
  color: cyan;
}

#heading-title {
  font-size: 3rem;
}